/* generic */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    color: white;
}

.flex{
    display: flex;
}

.container{
    width: 1400px;
    margin: 0 auto;
}

.bgr_black{
        background-color: black;
}

/* roots */
:root{
    --darkgrey : #4a4a4a ;
}

    /* temporary */
.border{
        border: 2px dashed peru;
}

/* .card{
    height: 200px;
} */

/* header */

header .navbar{
    height: 2.4rem;
    position: relative;
    top: 0;
    width: 100%;
}

.buttons{
    position: absolute;
    top: 3px;
    right: 10px;
    transform: translateY(30%);
}

.button{
    border-radius: 5px;
    background-color: var(--darkgrey);
    margin: 3px;
    padding: 3px 5px;
    font-size: 13px;
}

/* main */
main{
    height: calc(100vh - 7.4rem);
    overflow: auto;
}

.row{
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 1.5rem;
    justify-content: center;
}

.card{
    flex-basis: calc(100% / 7);
    position: relative;
}

.card img{
    display: block;
    max-width: 100%;
}

.card .info{
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 15px;
    background-color: rgba(0, 0, 0, .5);
    padding: 3px;
}

/* footer */
footer .navbar{
        height: 5rem;
}