/* generic */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.container{
    width: 1400px;
    margin: 0 auto;
}

.border{
    border: 2px dashed peru;
}

/* temporary */
.card{
    height: 200px;
}

/* header */
header .navbar{
    height: 2.4rem;
}

/* main */
main{
    height: calc(100vh - 7.4rem);
}

.bgr_black{
    background-color: black;
}

.row{
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 1.5rem;
    justify-content: center;
}

.card{
    flex-basis: calc(100% / 7);
    max-height: 7rem;
    
}

/* footer */
footer .navbar{
        height: 5rem;
}