/* generic */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    color: white;
}

.flex{
    display: flex;
}

.container{
    width: 1400px;
    margin: 0 auto;
}

.bgr_black{
        background-color: black;
}

/* roots */
:root{
    --darkgrey : #222222 ;
    --lightgrey : #4a4a4a;
}

    /* temporary */
/* .border{
        border: 2px dashed peru;
} */

/* .card{
    height: 200px;
} */

/* header */

header .navbar{
    height: 2.4rem;
    position: relative;
    top: 0;
    width: 100%;
}

.buttons{
    position: absolute;
    top: 3px;
    right: 10px;
    transform: translateY(30%);
}

.button{
    border-radius: 5px;
    background-color: var(--lightgrey);
    margin: 3px;
    padding: 3px 5px;
    font-size: 13px;
}

/* main */
main{
    height: calc(100vh - 7.4rem);
    overflow: auto;
}

.row{
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 1.5rem;
    justify-content: center;
}

.card{
    flex-basis: calc(100% / 7);
    position: relative;
}

.card img{
    display: block;
    max-width: 100%;
}

.card .info{
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 15px;
    background-color: rgba(0, 0, 0, .5);
    padding: 3px;
}

/* footer */
footer{
    background-color: var(--darkgrey)
}

footer .navbar{
    height: 5rem;
    justify-content: space-between;
}

footer i{
    display: block;
    font-size: 30px;
    padding: 10px;
}

.navbar_left , .navbar_right{
    flex-basis: 25%;
}

.navbar_center{
    flex-basis: 50%;
    justify-content: center;
}

ul{
    list-style: none;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.fa-chevron-up{
    font-size: 12px;
}

.fa-share-from-square{
    color: lime;
}

h3{
    font-size: 15px;
    font-weight: normal;
}